html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.botonperson2{
  background-color: #b4977d !important;
  border: #b4977d;
  color: white;
  width: 70px;
}
.botonperson{
  border-radius: 25px;
}

.iconitonav{
  font-size: 20px;}

.user_icon{
  color:#b4977d ;
  font-size: 50px;
}
.navbar{
  background-color: #E0BD9F !important;
}
.caja{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container2{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-img-top:hover {
  transform: scale(1.1); /* Increase the size by 10% on hover */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}


@primary-color: #fff;
@border-radius: 5px;
@black-color: #351897;


.cat {
 background-color: #e4d1c1;
 font-family: Arial, Helvetica, sans-serif;
 display: grid;
 place-items: center;
 min-height: 100vh;
}

.container3 {
 background-color: primary-color;
 position: relative;
 display: grid;
 grid-template-columns: 300px 600px;
 border-radius: border-radius;
 box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);}
 .container3 img {
  width: 300px;
  height: 300px;
  border-radius: border-radius 0 0 border-radius;
 }
 .container3 .btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #b4977d;
  color: primary-color;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: border-radius;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);}
  .btn i {
   margin-left: 20px;
   font-size: 1.5rem;
  }
.btn:hover{
  background-color: #6d5c4d;
}
 

.container3__text {
 padding: 40px 40px 0;}
.container3__text  h1 {
  color: black-color;
  font-weight: 400;
 }
 .container3__text__star span {
  font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
 }
 p {
  font-size: 0.9rem;
 }
 .container3__text__timing {
  display: flex;
  margin: 20px 0 10px;}
  .container3__text__timing_time {
   margin-right: 40px;
  }
  .container3__text__timing h2 {
   margin-bottom: 5px;
   font-size: 1rem;
   font-weight: 400;
   color: #818189;
  }
  .container3__text__timing p {
   color: black-color;
   font-weight: bold;
   font-size: 1.2rem;
  }
 
